body {
width: 500px;
margin: 10px;
background-color: lightgray;


}

img{
    display: block;
    padding: 10px;
    margin: auto;
    width: 400px;
}

h1{
    text-align:center;
    background-color: yellow;
    width: 50%;
    padding: 5px;
    margin: auto;
    
}




ul {
    
    float: left;
    padding: 20px;
    
}

#interests {
    text-align: left;
    background-color: red;
    width: fit-content;
    padding:5px 20px;
}

#facts
{
    text-align: right;
    background-color: #0088FF;
    width: fit-content;
    padding: 5px 20px;    
}